<section>
<div ng-controller="loginController">

	<div id="loginModal" class="modal show" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
  <div class="modal-content">
      <div class="modal-header">
	
	
       <form name="form" novalidate>
            <fieldset>
               <h1 class="text-center"><legend>Please Sign in to Continue</legend></h1>
                
               <div class="form-group">
                    Email : <input type="email" class="form-control input-lg" name="userEmail" placeholder="Your Email Please!" ng-model="user.email" required>
                    <span ng-show="form.userEmail.$dirty && form.userEmail.$invalid">
                        <span ng-show="form.userEmail.$error.required">email is required.</span>
                        <span ng-show="form.userEmail.$error.email">email is invalid.</span>
                    </span>
                <div>
                      
                <div class="form-group">
                    Password : <input type="password" class="form-control input-lg" name="userPassword" placeholder="Enter your password" ng-model="user.password" required>
                    <span ng-show="form.userPassword.$dirty && form.userPassword.$invalid">
                        <span ng-show="form.userEmail.$error.required">password is required.</span>
                    </span>
                </div>
				
				<div>
               
                <input class="btn btn-primary btn-lg active" type="submit"  value="Login" ng-click="login()" ng-disabled="form.userEmail.$invalid ||  
                                                  form.userPassword.$invalid"/>	
                <input style="position:float-right" class="btn btn-default btn-lg" type="submit"  value="Register" ng-click="register()"/>
               
			  </div>
			
			</fieldset>
        </form>        
    </div>
</section>
